{%extends 'content_m/layout.html'%}


{%block pageContent%}
{%include 'content_m/level/pageSteps.html'%}

  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">


        <label for="fratio">{%trans "Ratio"%}</label>
        <div class="input">
            <input type="number" name="ratio" min="1" max="1000" id="fratio" value="{{dataRow.ratio}}">
        </div>


        <label for="funlockscore">{%trans "Unlock score"%}</label>
        <div class="input">
            <input type="number" name="unlockscore" min="1" max="282" id="funlockscore" value="{{dataRow.unlockscore}}">
        </div>



      {{block('isave')}}
    </div>
   </form>
  </div>
{%endblock%}


{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

