{%extends 'content_a/layout.html'%}


{%block pageContent%}
  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">
      {{block('iniyat')}}
      {{block('iRepeat')}}
      {{block('iType')}}
      {{block('iRange')}}
      {{block('iPrivacy')}}

      {{block('isave')}}
    </div>
   </form>
  </div>
{%endblock%}









{%block iRepeat %}
<label for="repeat">{%trans "Repeat"%}</label>
<div class="input">
  <input type="number" name="repeat" id="repeat" max='999' min="1">
</div>
{%endblock%}




{% block iniyat %}
<label for="niyat">{%trans "Niyat"%} <small class="fc-green">{%trans "Optioanl"%}</small></label>
<div class="input">
  <input type="text" name="niyat" id="niyat"  value="{{dataRow.niyat}}"  maxlength='150' minlength="1" pattern=".{1,150}">
</div>
{% endblock %}


{%block iType%}
<label for="type">{%trans "Type"%}</label>

<select name="type" class="mB10 select ui dropdown search" id="type">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  <option value="page"  selected>{%trans "Page"%}</option>
  <option value="juz"  >{%trans "Juz"%}</option>
</select>

{%endblock%}



{%block iRange%}
<label for="range">{%trans "Range"%}</label>

<select name="range" class="mB10 select ui dropdown search" id="range">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  <option value="quran"  selected>{%trans "Quran"%}</option>
  <option value="sura"  >{%trans "Surah"%}</option>
</select>

{%endblock%}


{%block iPrivacy%}
<label for="privacy">{%trans "Privacy"%}</label>

<select name="privacy" class="mB10 select ui dropdown search" id="privacy">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  <option value="public"  selected>{%trans "Public"%}</option>
  <option value="private"  >{%trans "Private"%}</option>
</select>

{%endblock%}



{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}




{%block iStatus%}
<div class="mT15">
 <label >{%trans "Status"%}</label>
 <div class="radio1 green">
  <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
 </div>
 <div class="radio1 black mB25">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'%} checked{%endif%} >
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>
</div>
{%endblock%}

