{%extends display.main%}



{%block page%}
<section class="f topNews">
  <div class="c3 sideNews pRa10">
      <a href="sample">
        <img src="{{url.static}}/images/mag/sample/news-iran-flood.jpg" alt="{{site.title}}">
      </a>

      <a href="sample">
        <img src="{{url.static}}/images/mag/sample/36th-competition.jpg" alt="{{site.title}}">
      </a>

      <a href="sample">
        <img src="{{url.static}}/images/mag/sample/darshayi-az-quran.jpg" alt="{{site.title}}">
      </a>
  </div>

  <article class="c6 mainNews pRa10">
    <a href="sample">
      <img src="{{url.static}}/images/mag/sample/banner-tollab-competition.jpg" alt="{{site.title}}">
      <h2>مرحله نهایی مسابقات بین‌المللی قرآن طلاب</h2>
    </a>
    <p>مرحله نهایی مسابقات بین‌المللی قرآن طلاب، روز گذشته ۲۳ فروردین‌ماه در شهر مقدس قم برگزار شد. مسابقات بین‌المللی قرآن با مشارکت و همراهی سه نهاد بزرگ جمهوری اسلامی ایران، یعنی جامعه‌المصطفی، مرکز مدیریت حوزه‌های علمیه و سازمان اوقاف و امور خیریه، برگزار شد و در سال جاری، شاهد برگزاری سومین دوره مسابقات بین‌المللی طلاب علوم دینی بودیم.</p>
  </article>

  <nav class="c3 lastNews">
    <a href="sample">
      <img src="{{url.static}}/images/mag/sample/hadith1.jpg" alt="{{site.title}}">
    </a>

    <a href="#">توسعه معانی و تدقیق مفاهیم با مطالعه دست‌نوشته‌های قرآنی</a>
    <a href="#">خودشناسی کلید دردهای بشر است</a>
    <a href="#">دیدگاه قرآن درباره شیوه‌های انتقال ارزش‌های اجتماعی</a>
    <a href="#">بررسی دیدگاه قرآن درباره روند شکل‌گیری هنجارها در جامعه</a>
    <a href="#">عفت؛ قیام علیه زشتی و کراهت فقر</a>
  </nav>

</section>

{%endblock%}


