{%extends display.dash%}



{%block pageContent%}
  <div class="f">

    <div class="c6 s12">{{block('Baudiobank')}}</div>
    <div class="c6 s12">{{block('Bmagazine')}}</div>


  </div>
{%endblock%}



{%block Baudiobank%}
<a class="dcard x2" href='{{url.here}}/audiobank'>
 <div class="statistic red">
  <div class="value mB10"><i class="sf-music"></i></div>
  <div class="label">{%trans "Audio bank"%}</div>
 </div>
</a>
{%endblock%}



{%block Bmagazine%}
<a class="dcard x2" href='{{url.here}}/mag'>
 <div class="statistic red">
  <div class="value mB10"><i class="sf-book"></i></div>
  <div class="label">{%trans "Magazine"%}</div>
 </div>
</a>
{%endblock%}
