{%extends 'content_m/layout.html'%}



{%block pageContent%}

{%if dataTable%}
<div class="cbox">
  {%for key, value in dataTable%}
  <div class="msg f">
    <div class="cauto txtB s12">{{value.title}}</div>
    <div class="c s12">{{value.niyat}}</div>
    <div class="c s12">{{value.ttype}}</div>
    <div class="c s12">{{value.trange}}</div>
    <div class="c s12">{{value.tprivacy}}</div>
    <div class="c s12">{{value.repeat | fitNumber}}</div>
    <div class="c s12">{{value.tstatus}}</div>
    <div class="c s12">{{value.sura}}</div>
    <div class="c s12"><div data-confirm data-data='{"type": "remove", "id" : "{{value.id}}"}' class="btn warn xs">{%trans "Cancel"%}</div></div>
    <div class="c s12"><a href="{{url.this}}/start/{{value.id}}" class="btn success">{%trans "Start"%}</a></div>
  </div>
  {%endfor%}
</div>

{%else%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Try to start with add new khatm!"%}</a></p>

{%endif%}


{%endblock%}
