.Quran .bismillah {
    font-family: bismillah;
    font-size: 6em;
    text-align: center;
    color: #333;
    padding: 25px 0;
    margin-bottom: 2rem;
}

.Quran .readerMode .bismillah{
    font-size: 50px;
    line-height: 50px;
}
