.Quran .bismillah {
    font-family: bismillah;
    font-size: 70px;
    line-height: 50px;
    text-align: center;
    color: #333;
    padding: 25px 0;
    // margin-bottom: 20px;
}
.Quran .readerMode .bismillah{
    font-size: 50px;
    padding: 0;
}
