
// Quran
.Quran{
	direction: rtl;
}
.quranNav{
	direction: rtl;
	text-align: center;
	margin: 25px 0;
	user-select: none;
}
.Quran .readerMode{
	text-align: center;
	max-width: 600px;
	margin:0 auto;
}
.Quran .readerMode.translate{
	background-color: #f7f7f7;
	color: #333;
	position: relative;
	padding: 20px 5%;
	line-height: 35px;
}
body.ltr .Quran .readerMode.translate{
	direction: ltr;
}

