
// Quran
.Quran{
	direction: rtl;
}
.quranNav{
	direction: rtl;
	text-align: center;
	margin: 25px 0;
	user-select: none;
}
.Quran .readerMode{
	text-align: center;
	max-width: 600px;
	margin:0 auto;
}

