.suraTitle{
	position: relative;
}
.suraTitle img{

}
.suraTitle h2{
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	text-align: center;
	font-family: IRANSans;
	font-size: 25px;
	line-height: 60px;
}
