{%extends 'content_lms/group/layout.html'%}



{%block pageContent%}
<div class="f justify-center">
  <div class="c5 txtC">

    {%if loadLevel.file%}
      <iframe src="{{loadLevel.file}}"></iframe>
      {%if false%}
      <video width="320" height="240" controls>
        <source src="{{loadLevel.file}}" type="video/mp4">
      </video>
      {%endif%}
    {%endif%}

    {%if userStar.star%}
    <div class="cbox">
    {%trans "Your score"%}
    	{%for i in 1..userStar.star%}
    	<i class="sf-star fc-yellow"></i>
    	{%endfor%}
    </div>
    {%endif%}

    <div class="cbox">

      <div class="btn info2 xl" data-ajaxify data-data='{"ActionType":"showvideo"}' data-method='post'>{%trans "Show video"%}</div>


    </div>

  </div>
</div>
{%endblock%}


