{%extends display.admin%}



{%block pageContent%}
  <div class="f">
    <div class="c4 s12">{{block('bHistory')}}</div>
    {%if false%}
      <div class="c4 s12">{{block('bFav2')}}</div>
    {%endif%}
      <div class="c4 s12">{{block('bKhatm')}}</div>
      <div class="c4 s12">{{block('bLMS')}}</div>
      <div class="c4 s12">{{block('bReading')}}</div>
      <div class="c4 s12">{{block('bHefzP')}}</div>

  </div>
{%endblock%}




{%block bHefzP%}
<a class="dcard x1" href='{{url.kingdom}}/calculator'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-calculator"></i></div>
  <div class="label">{%trans "Calculator hefz program"%}</div>
 </div>
</a>
{%endblock%}

{%block bReading%}
<a class="dcard x1" href='{{url.here}}/reading'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-bullhorn"></i></div>
  <div class="label">{%trans "My audio file"%}</div>
 </div>
</a>
{%endblock%}

{%block bHistory%}
<a class="dcard x1" href='{{url.here}}/history'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-history"></i></div>
  <div class="label">{%trans "History"%}</div>
 </div>
</a>
{%endblock%}



{%block bLMS%}
<a class="dcard x1" href='{{url.kingdom}}/lms'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-info"></i></div>
  <div class="label">{%trans "Learning mechanism system"%}</div>
 </div>
</a>
{%endblock%}




{%block bKhatm%}
<a class="dcard x1" href='{{url.here}}/khatm'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-book fc-green"></i></div>
  <div class="label">{%trans "Khatm"%}</div>
 </div>
</a>
{%endblock%}



{%block bFav%}
<a class="dcard x1" href='{{url.here}}/fav'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-star fc-yellow"></i></div>
  <div class="label">{%trans "Favorite"%}</div>
 </div>
</a>
{%endblock%}
