{%extends display.main%}



{%block page%}

	<div class="f">
		<div><img src="{{loadAudioFolder.image}}"></div>
		<div>{{loadAudioFolder.name}}</div>
	</div>

	<div class="tblBox">
		<table class="tbl1 v5">
			<tbody>
	{%for itemIndex, itemDetail in audioList%}
	{%set myDownloadLink%}{{dlLink}}/{{loadAudioFolder.addr}}/{{itemIndex}}.mp3{%endset%}

				<tr>
					<td class="s0 collapsing">{{itemDetail.index | fitNumber}}</td>
					<td>{{itemDetail.name}}</td>
					<td class="playerCell">
						<audio controls controlsList="nodownload" preload="none">
							<source src="{{myDownloadLink}}" type="audio/mpeg">
						</audio>
					</td>
					<td class="s0">{{"12.4" | fitNumber(false)}} {%trans "Mb"%}</td>
					<td class="collapsing"><a href="{{url.kingdom}}/s{{itemDetail.index}}"><i class="sf-book mRa5"></i><span class="s0">{%trans "Read"%}</span></a></td>
					<td class="collapsing"><a href="{{myDownloadLink}}" download><i class="sf-cloud-download mRa5"></i><span class="s0">{%trans "Download"%}</span></a></td>
				</tr>
	{%endfor%}
			</tbody>
		</table>
	</div>

{%endblock%}

