{%extends display.main%}



{%block page%}
	<div><img src="{{loadAudioFolder.image}}"></div>
	<div>{{loadAudioFolder.name}}</div>

	{%for sura_index, sura_detail in audioList%}

	{%set myDownloadLink%}{{dlLink}}/{{loadAudioFolder.addr}}/{{sura_index}}.mp3{%endset%}
	<div class="msg">

		<div class="f">
			<div class="c txtB">
				<a href="{{myDownloadLink}}">{{sura_detail.index | fitNumber}} | {{sura_detail.name}}</a>
			</div>

			<div class="cauto">
				<audio controls preload id="talavat" controlsList="nodownload">
			        <source src="{{myDownloadLink}}" type="audio/mpeg">
			    </audio>
			</div>

			<div class="cauto">
				<a href="{{myDownloadLink}}" download><i class="sf-cloud-download"></i></a>
			</div>

		</div>

	</div>
	{%endfor%}

{%endblock%}

