{%extends 'content_m/audiobank/layout.html'%}

{%block pageContent%}
<div class="cbox">

<div data-kerkere='.showData-me-json' class="msg">content/audio/data.me.json</div>
<div class="showData-me-json" data-kerkere-content='hide'>
	<pre>
		{{dataMeJson.me}}
	</pre>
</div>

<div data-kerkere='.showData-config-json' class="msg">lib/app/audioconfig.json</div>
<div class="showData-config-json" data-kerkere-content='hide'>
<pre>
{{dataMeJson.config | raw}}
</pre>
</div>

</div>


<form method="post" enctype="multipart/form-data" autocomplete="off">
<div class="f justify-center">
  <div class="c4 s12">
    <div class="cbox">
        {{block("iadd")}}
    </div>
  </div>
</div>
</form>
{%endblock%}









