{%extends 'content_lms/group/layout.html'%}



{%block pageContent%}
<div class="f justify-center">
  <div class="c5 txtC">
    <div class="cbox">
      {%if loadLevel.file%}
        <video width="800" height="600" controls>
          <source src="{{loadLevel.file}}" type="video/mp4">
        </video>
      {%endif%}
      <p class="fs08">{{loadLevel.desc}}</p>
    <a href="{{url.here}}/level/{{loadLevel.type}}?id={{loadLevel.id}}" class="btn block outline info">{%trans "Continue"%}</a>
    </div>

  </div>
</div>
{%endblock%}


