{%extends 'content_m/layout.html'%}


{%block pageContent%}
{%include 'content_m/level/pageSteps.html'%}

  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">

        <h5>{%trans "Start aya"%}</h5>
       {{block('suraListStart')}}
        <label for="faya">{%trans "Aya"%}</label>
        <div class="input">
            <input type="number" name="startaya" min="1" max="282" id="faya">
        </div>

        <h5>{%trans "End aya"%}</h5>
       {{block('suraListEnd')}}
        <label for="feaya">{%trans "Aya"%}</label>
        <div class="input">
            <input type="number" name="endaya" min="1" max="282" id="feaya">
        </div>



      {{block('isave')}}
    </div>
   </form>
  </div>
{%endblock%}


{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}






{% block suraListStart %}
<label for="fsura">{%trans "Surah"%}</label>
  <select class="select" name="startsurah" id="fsura">
    <option value="">{%trans "Select sura"%}</option>
    {{block('masterSuranList')}}
  </select>
{%endblock%}


{% block suraListEnd %}
<label for="fesura">{%trans "Surah"%}</label>
  <select class="select" name="endsurah" id="fesura">
    <option value="">{%trans "Select sura"%}</option>
    {{block('masterSuranList')}}
  </select>
{%endblock%}



{% block masterSuranList %}
    <option value="1">{{"1" | fitNumber}} - {% trans "Al-Fatihah"%}</option>
    <option value="2">{{"2" | fitNumber}} - {% trans "Al-Baqarah"%}</option>
    <option value="3">{{"3" | fitNumber}} - {% trans "Ali 'Imran"%}</option>
    <option value="4">{{"4" | fitNumber}} - {% trans "An-Nisa"%}</option>
    <option value="5">{{"5" | fitNumber}} - {% trans "Al-Ma'idah"%}</option>
    <option value="6">{{"6" | fitNumber}} - {% trans "Al-An'am"%}</option>
    <option value="7">{{"7" | fitNumber}} - {% trans "Al-A'raf"%}</option>
    <option value="8">{{"8" | fitNumber}} - {% trans "Al-Anfal"%}</option>
    <option value="9">{{"9" | fitNumber}} - {% trans "At-Tawbah"%}</option>
    <option value="10">{{"10" | fitNumber}} - {% trans "Yunus"%}</option>
    <option value="11">{{"11" | fitNumber}} - {% trans "Hud"%}</option>
    <option value="12">{{"12" | fitNumber}} - {% trans "Yusuf"%}</option>
    <option value="13">{{"13" | fitNumber}} - {% trans "Ar-Ra'd"%}</option>
    <option value="14">{{"14" | fitNumber}} - {% trans "Ibrahim"%}</option>
    <option value="15">{{"15" | fitNumber}} - {% trans "Al-Hijr"%}</option>
    <option value="16">{{"16" | fitNumber}} - {% trans "An-Nahl"%}</option>
    <option value="17">{{"17" | fitNumber}} - {% trans "Al-Isra"%}</option>
    <option value="18">{{"18" | fitNumber}} - {% trans "Al-Kahf"%}</option>
    <option value="19">{{"19" | fitNumber}} - {% trans "Maryam"%}</option>
    <option value="20">{{"20" | fitNumber}} - {% trans "Taha"%}</option>
    <option value="21">{{"21" | fitNumber}} - {% trans "Al-Anbya"%}</option>
    <option value="22">{{"22" | fitNumber}} - {% trans "Al-Haj"%}</option>
    <option value="23">{{"23" | fitNumber}} - {% trans "Al-Mu'minun"%}</option>
    <option value="24">{{"24" | fitNumber}} - {% trans "An-Nur"%}</option>
    <option value="25">{{"25" | fitNumber}} - {% trans "Al-Furqan"%}</option>
    <option value="26">{{"26" | fitNumber}} - {% trans "Ash-Shu'ara"%}</option>
    <option value="27">{{"27" | fitNumber}} - {% trans "An-Naml"%}</option>
    <option value="28">{{"28" | fitNumber}} - {% trans "Al-Qasas"%}</option>
    <option value="29">{{"29" | fitNumber}} - {% trans "Al-'Ankabut"%}</option>
    <option value="30">{{"30" | fitNumber}} - {% trans "Ar-Rum"%}</option>
    <option value="31">{{"31" | fitNumber}} - {% trans "Luqman"%}</option>
    <option value="32">{{"32" | fitNumber}} - {% trans "As-Sajdah"%}</option>
    <option value="33">{{"33" | fitNumber}} - {% trans "Al-Ahzab"%}</option>
    <option value="34">{{"34" | fitNumber}} - {% trans "Saba"%}</option>
    <option value="35">{{"35" | fitNumber}} - {% trans "Fatir"%}</option>
    <option value="36">{{"36" | fitNumber}} - {% trans "Ya-Sin"%}</option>
    <option value="37">{{"37" | fitNumber}} - {% trans "As-Saffat"%}</option>
    <option value="38">{{"38" | fitNumber}} - {% trans "Sad"%}</option>
    <option value="39">{{"39" | fitNumber}} - {% trans "Az-Zumar"%}</option>
    <option value="40">{{"40" | fitNumber}} - {% trans "Ghafir"%}</option>
    <option value="41">{{"41" | fitNumber}} - {% trans "Fussilat"%}</option>
    <option value="42">{{"42" | fitNumber}} - {% trans "Ash-Shuraa"%}</option>
    <option value="43">{{"43" | fitNumber}} - {% trans "Az-Zukhruf"%}</option>
    <option value="44">{{"44" | fitNumber}} - {% trans "Ad-Dukhan"%}</option>
    <option value="45">{{"45" | fitNumber}} - {% trans "Al-Jathiyah"%}</option>
    <option value="46">{{"46" | fitNumber}} - {% trans "Al-Ahqaf"%}</option>
    <option value="47">{{"47" | fitNumber}} - {% trans "Muhammad"%}</option>
    <option value="48">{{"48" | fitNumber}} - {% trans "Al-Fath"%}</option>
    <option value="49">{{"49" | fitNumber}} - {% trans "Al-Hujurat"%}</option>
    <option value="50">{{"50" | fitNumber}} - {% trans "Qaf"%}</option>
    <option value="51">{{"51" | fitNumber}} - {% trans "Adh-Dhariyat"%}</option>
    <option value="52">{{"52" | fitNumber}} - {% trans "At-Tur"%}</option>
    <option value="53">{{"53" | fitNumber}} - {% trans "An-Najm"%}</option>
    <option value="54">{{"54" | fitNumber}} - {% trans "Al-Qamar"%}</option>
    <option value="55">{{"55" | fitNumber}} - {% trans "Ar-Rahman"%}</option>
    <option value="56">{{"56" | fitNumber}} - {% trans "Al-Waqi'ah"%}</option>
    <option value="57">{{"57" | fitNumber}} - {% trans "Al-Hadid"%}</option>
    <option value="58">{{"58" | fitNumber}} - {% trans "Al-Mujadila"%}</option>
    <option value="59">{{"59" | fitNumber}} - {% trans "Al-Hashr"%}</option>
    <option value="60">{{"60" | fitNumber}} - {% trans "Al-Mumtahanah"%}</option>
    <option value="61">{{"61" | fitNumber}} - {% trans "As-Saf"%}</option>
    <option value="62">{{"62" | fitNumber}} - {% trans "Al-Jumu'ah"%}</option>
    <option value="63">{{"63" | fitNumber}} - {% trans "Al-Munafiqun"%}</option>
    <option value="64">{{"64" | fitNumber}} - {% trans "At-Taghabun"%}</option>
    <option value="65">{{"65" | fitNumber}} - {% trans "At-Talaq"%}</option>
    <option value="66">{{"66" | fitNumber}} - {% trans "At-Tahrim"%}</option>
    <option value="67">{{"67" | fitNumber}} - {% trans "Al-Mulk"%}</option>
    <option value="68">{{"68" | fitNumber}} - {% trans "Al-Qalam"%}</option>
    <option value="69">{{"69" | fitNumber}} - {% trans "Al-Haqqah"%}</option>
    <option value="70">{{"70" | fitNumber}} - {% trans "Al-Ma'arij"%}</option>
    <option value="71">{{"71" | fitNumber}} - {% trans "Nuh"%}</option>
    <option value="72">{{"72" | fitNumber}} - {% trans "Al-Jinn"%}</option>
    <option value="73">{{"73" | fitNumber}} - {% trans "Al-Muzzammil"%}</option>
    <option value="74">{{"74" | fitNumber}} - {% trans "Al-Muddaththir"%}</option>
    <option value="75">{{"75" | fitNumber}} - {% trans "Al-Qiyamah"%}</option>
    <option value="76">{{"76" | fitNumber}} - {% trans "Al-Insan"%}</option>
    <option value="77">{{"77" | fitNumber}} - {% trans "Al-Mursalat"%}</option>
    <option value="78">{{"78" | fitNumber}} - {% trans "An-Naba"%}</option>
    <option value="79">{{"79" | fitNumber}} - {% trans "An-Nazi'at"%}</option>
    <option value="80">{{"80" | fitNumber}} - {% trans "'Abasa"%}</option>
    <option value="81">{{"81" | fitNumber}} - {% trans "At-Takwir"%}</option>
    <option value="82">{{"82" | fitNumber}} - {% trans "Al-Infitar"%}</option>
    <option value="83">{{"83" | fitNumber}} - {% trans "Al-Mutaffifin"%}</option>
    <option value="84">{{"84" | fitNumber}} - {% trans "Al-Inshiqaq"%}</option>
    <option value="85">{{"85" | fitNumber}} - {% trans "Al-Buruj"%}</option>
    <option value="86">{{"86" | fitNumber}} - {% trans "At-Tariq"%}</option>
    <option value="87">{{"87" | fitNumber}} - {% trans "Al-A'la"%}</option>
    <option value="88">{{"88" | fitNumber}} - {% trans "Al-Ghashiyah"%}</option>
    <option value="89">{{"89" | fitNumber}} - {% trans "Al-Fajr"%}</option>
    <option value="90">{{"90" | fitNumber}} - {% trans "Al-Balad"%}</option>
    <option value="91">{{"91" | fitNumber}} - {% trans "Ash-Shams"%}</option>
    <option value="92">{{"92" | fitNumber}} - {% trans "Al-Layl"%}</option>
    <option value="93">{{"93" | fitNumber}} - {% trans "Ad-Duhaa"%}</option>
    <option value="94">{{"94" | fitNumber}} - {% trans "Ash-Sharh"%}</option>
    <option value="95">{{"95" | fitNumber}} - {% trans "At-Tin"%}</option>
    <option value="96">{{"96" | fitNumber}} - {% trans "Al-'Alaq"%}</option>
    <option value="97">{{"97" | fitNumber}} - {% trans "Al-Qadr"%}</option>
    <option value="98">{{"98" | fitNumber}} - {% trans "Al-Bayyinah"%}</option>
    <option value="99">{{"99" | fitNumber}} - {% trans "Az-Zalzalah"%}</option>
    <option value="100">{{"100" | fitNumber}} - {% trans "Al-'Adiyat"%}</option>
    <option value="101">{{"101" | fitNumber}} - {% trans "Al-Qari'ah"%}</option>
    <option value="102">{{"102" | fitNumber}} - {% trans "At-Takathur"%}</option>
    <option value="103">{{"103" | fitNumber}} - {% trans "Al-'Asr"%}</option>
    <option value="104">{{"104" | fitNumber}} - {% trans "Al-Humazah"%}</option>
    <option value="105">{{"105" | fitNumber}} - {% trans "Al-Fil"%}</option>
    <option value="106">{{"106" | fitNumber}} - {% trans "Quraysh"%}</option>
    <option value="107">{{"107" | fitNumber}} - {% trans "Al-Ma'un"%}</option>
    <option value="108">{{"108" | fitNumber}} - {% trans "Al-Kawthar"%}</option>
    <option value="109">{{"109" | fitNumber}} - {% trans "Al-Kafirun"%}</option>
    <option value="110">{{"110" | fitNumber}} - {% trans "An-Nasr"%}</option>
    <option value="111">{{"111" | fitNumber}} - {% trans "Al-Masad"%}</option>
    <option value="112">{{"112" | fitNumber}} - {% trans "Al-Ikhlas"%}</option>
    <option value="113">{{"113" | fitNumber}} - {% trans "Al-Falaq"%}</option>
    <option value="114">{{"114" | fitNumber}} - {% trans "An-Nas"%}</option>


{%endblock%}

