{%extends 'content_m/layout.html'%}


{%block pageContent%}
{%include 'content_m/level/pageSteps.html'%}

  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">

        <h5>{%trans "Start aya"%}</h5>
       {{block('suraListStart')}}
        <label for="faya">{%trans "Aya"%}</label>
        <div class="input">
            <input type="number" name="startaya" min="1" max="282" id="faya" value="{{dataRow.quran_start_aya}}">
        </div>

        <h5>{%trans "End aya"%}</h5>
       {{block('suraListEnd')}}
        <label for="feaya">{%trans "Aya"%}</label>
        <div class="input">
            <input type="number" name="endaya" min="1" max="282" id="feaya" value="{{dataRow.quran_end_aya}}">
        </div>



      {{block('isave')}}
    </div>
   </form>
  </div>
{%endblock%}


{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}









{% block suraListStart %}
<label for="fsura">{%trans "Surah"%}</label>
  <select class="select" name="startsurah" id="fsura">
    <option value="">{%trans "Select sura"%}</option>
    {%for key, value in quranListQuick%}
        <option value="{{key}}" {%if dataRow.quran_start_sura == key%} selected {%endif%}>{{value}}</option>
    {%endfor%}
  </select>
{%endblock%}


{% block suraListEnd %}
<label for="fesura">{%trans "Surah"%}</label>
  <select class="select" name="endsurah" id="fesura">
    <option value="">{%trans "Select sura"%}</option>
    {%for key, value in quranListQuick%}
        <option value="{{key}}" {%if dataRow.quran_end_sura == key%} selected {%endif%}>{{value}}</option>
    {%endfor%}
  </select>
{%endblock%}



{% block masterSuranList %}


{%endblock%}

