{%extends display.dash%}


{%block sidenav%}

<li><a href="{{url.here}}"><i class='sf-home'></i> <span>{%trans "Learn Mechanism system"%}</span></a></li>
<hr>
<li><a href="{{url.here}}/all/quran"><i class='sf-book'></i> <span>{%trans "All learn quran"%}</span></a></li>
<li><a href="{{url.here}}/all/tajweed"><i class='sf-book'></i> <span>{%trans "All learn tajweed"%}</span></a></li>
<li><a href="{{url.here}}/all/exam"><i class='sf-book'></i> <span>{%trans "All learn exam"%}</span></a></li>
<li><a href="{{url.here}}/all/theme"><i class='sf-book'></i> <span>{%trans "All learn theme"%}</span></a></li>



{%endblock%}
