{%extends display.main%}


{%block page%}

<div class="tblBox fs08 mT25">


  <table class="tbl1 v1">
    <thead>
      <tr class="fs08">
		<th class="collapsing" data-sort="{{sortLink.index.order}}"><a href="{{sortLink.index.link}}">{%trans "Index"%}</a></th>
		<th data-sort="{{sortLink.name.order}}"><a href="{{sortLink.name.link}}">{%trans "Name"%}</a></th>
		<th data-sort="{{sortLink.type.order}}"><a href="{{sortLink.type.link}}">{%trans "Type"%}</a></th>
		<th data-sort="{{sortLink.ayas.order}}"><a href="{{sortLink.ayas.link}}">{%trans "Aya count"%}</a></th>
		<th data-sort="{{sortLink.start.order}}"><a href="{{sortLink.start.link}}">{%trans "Start aya"%}</a></th>


		<th data-sort="{{sortLink.order.order}}"><a href="{{sortLink.order.link}}">{%trans "Order"%}</a></th>

		<th data-sort="{{sortLink.word.order}}"><a href="{{sortLink.word.link}}">{%trans "Word count"%}</a></th>
		<th data-sort="{{sortLink.theletter.order}}"><a href="{{sortLink.theletter.link}}">{%trans "The letter"%}</a></th>
		<th data-sort="{{sortLink.startjuz.order}}"><a href="{{sortLink.startjuz.link}}">{%trans "Juz"%}</a></th>

		<th data-sort="{{sortLink.startpage.order}}"><a href="{{sortLink.startpage.link}}">{%trans "Page"%}</a></th>



      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
		<td><a href="{{url.kingdom}}/s{{value.index}}">{{value.index | fitNumber}}</a></td>
		<td><a href="{{url.kingdom}}/s{{value.index}}">
			{{value.name}}
			<br>
			{%set myName = value.tname%} <span class="">{%trans myName%}</span>
			</a>
			{%set myEName = value.ename%} <span class="">{%trans myEName%}</span>
		</td>
		<td>{%set myType = value.type%} <span class="">{%trans myType%}</span></td>
		<td>{{value.ayas | fitNumber}}</td>
		<td>{%if value.start%}<a href="{{url.kingdom}}/a{{value.start}}">{{value.start | fitNumber}}</a>{%else%}{{value.start |fitNumber}}{%endif%}</td>



		<td>{{value.order | fitNumber}}</td>
		<td>{{value.word | fitNumber}}</td>
		<td>{{value.theletter | fitNumber}}</td>
		<td><a href="{{url.kingdom}}/j{{value.startjuz}}">{{value.startjuz | fitNumber}} {%if value.endjuz != value.startjuz%} - {{value.endjuz | fitNumber}} {%endif%}</a></td>
		<td><a href="{{url.kingdom}}/p{{value.startpage}}">{{value.startpage | fitNumber}} {%if value.endpage != value.startpage%} - {{value.endpage | fitNumber}} {%endif%}</a></td>


      </tr>
      {%endfor%}
    </tbody>
  </table>


</div>
{%endblock%}
