{%extends display.main%}


{%block content%}

  <main id="main">
   <div class="cn">
    <div class="wrapper" data-xhr='wrapper'>

      <div class="mT25"></div>

{{block ('topNews')}}
{{block ('introVideo')}}
{{block ('newsCollection')}}
{{block ('Col3Box')}}


    </div>
   </div>

{%include 'content/mag/block-mustReads.html'%}
{%include 'content/home/homepage-quoteQuran.html'%}
  </main>


{%endblock%}



{%block topNews%}
<section class="f topNews">
  <div class="c3 m12 s12 sideNews pRa10">
    <div class="f">
      <div class="c12 m4 s6">
        <a href="sample">
          <img src="{{url.static}}/images/mag/sample/news-iran-flood.jpg" alt="{{site.title}}">
        </a>
      </div>

      <div class="c12 m4 s6">
        <a href="sample">
          <img src="{{url.static}}/images/mag/sample/36th-competition.jpg" alt="{{site.title}}">
        </a>
      </div>

      <div class="c12 m4 s12">
        <a href="sample">
          <img src="{{url.static}}/images/mag/sample/darshayi-az-quran.jpg" alt="{{site.title}}">
        </a>
      </div>

    </div>
  </div>

  <article class="c6 m8 s12 mainNews pRa10">
    <a href="sample">
      <img src="{{url.static}}/images/mag/sample/banner-tollab-competition.jpg" alt="{{site.title}}">
      <h2>مرحله نهایی مسابقات بین‌المللی قرآن طلاب</h2>
    </a>
    <p>مرحله نهایی مسابقات بین‌المللی قرآن طلاب، روز گذشته ۲۳ فروردین‌ماه در شهر مقدس قم برگزار شد. مسابقات بین‌المللی قرآن با مشارکت و همراهی سه نهاد بزرگ جمهوری اسلامی ایران، یعنی جامعه‌المصطفی، مرکز مدیریت حوزه‌های علمیه و سازمان اوقاف و امور خیریه، برگزار شد و در سال جاری، شاهد برگزاری سومین دوره مسابقات بین‌المللی طلاب علوم دینی بودیم.</p>
  </article>

  <nav class="c3 m4 s12 lastNews">
    <a href="sample">
      <img src="{{url.static}}/images/mag/sample/hadith1.jpg" alt="{{site.title}}">
    </a>

    <a href="sample">توسعه معانی و تدقیق مفاهیم با مطالعه دست‌نوشته‌های قرآنی</a>
    <a href="sample">خودشناسی کلید دردهای بشر است</a>
    <a href="sample">دیدگاه قرآن درباره شیوه‌های انتقال ارزش‌های اجتماعی</a>
    <a href="sample">بررسی دیدگاه قرآن درباره روند شکل‌گیری هنجارها در جامعه</a>
    <a href="sample">عفت؛ قیام علیه زشتی و کراهت فقر</a>
  </nav>

</section>

{%endblock%}


{%block introVideo%}
  <div class="introVideo">
    <video controls>
      <source src="{{url.static}}/images/mag/sample/namaz-zan-va-mard.mp4" type="video/mp4">
    </video>
  </div>
{%endblock%}


{%block newsCollection%}
{%set homePagePost = posts({"limit" : 4})%}
{%if homePagePost%}
<div class="newsCollection">
    <div class="f">
      {%for key, value in homePagePost%}
      <div class="c3 s6 pA10">
        <div class="vcard shadow">
          <a class="newsCover" href="{{url.here}}/{{value.url}}"><img alt='siftal' src="{%if value.meta.thumb%}{{value.meta.thumb}}{%else%}{{url.static}}/images/hi.jpg{%endif%}"></a>
          <div class="content">
            <a class="header">{{value.title}}</a>
            <div class="desc s0">{{value.excerpt}}</div>
          </div>
          <div class="footer f s0">
            <div class="c"><a href="{{url.site}}/n/{{value.id}}">{%trans "News Link"%}</a></div>
            <div class="cauto os"><i class="compact mRa10 sf-calendar"></i>{{value.publishdate | dt(true, 'date')}}</div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
</div>
{%endif%}
{%endblock%}



{%block Col3Box%}

<section class="f">
  <nav class="ranking c4 s12 pRa10">
    <header>
      <h2>{%trans "Most Popular"%}</h2>
    </header>
    <a class="f" href="#">
      <div class="cauto rank">1.</div>
      <h3 class="c title">Title 1</h3>
    </a>
    <a class="f" href="#">
      <div class="cauto rank">2.</div>
      <h3 class="c title">Title2</h3>
    </a>
    <a class="f" href="#">
      <div class="cauto rank">3.</div>
      <h3 class="c title">Title3</h3>
    </a>
    <a class="f" href="#">
      <div class="cauto rank">4.</div>
      <h3 class="c title">Title4</h3>
    </a>
    <a class="f" href="#">
      <div class="cauto rank">5.</div>
      <h3 class="c title">Title5</h3>
    </a>
  </nav>

  <nav class="ranking c4 s12 pRa10">
    <header>
      <h2>{%trans "Latest News"%}</h2>
    </header>
    <a class="f" href="#">
      <h3 class="c title">Title 1</h3>
    </a>
    <a class="f" href="#">
      <h3 class="c title">Title2</h3>
    </a>
    <a class="f" href="#">
      <h3 class="c title">Title3</h3>
    </a>
    <a class="f" href="#">
      <h3 class="c title">Title4</h3>
    </a>
    <a class="f" href="#">
      <h3 class="c title">Title5</h3>
    </a>
  </nav>

  <nav class="ranking c4 s12 pRa10">
    <header>
      <h2>{%trans "Blog"%}</h2>
    </header>
    <a class="f" href="#">
      <h3 class="c title">Title 1</h3>
    </a>
    <a class="f" href="#">
      <h3 class="c title">Title2</h3>
    </a>
    <a class="f" href="#">
      <h3 class="c title">Title3</h3>
    </a>
    <a class="f" href="#">
      <h3 class="c title">Title4</h3>
    </a>
    <a class="f" href="#">
      <h3 class="c title">Title5</h3>
    </a>
  </nav>
</section>

{%endblock%}


