{%extends 'content_m/layout.html'%}



{%block pageContent%}

<div class="f">
 <div class="c s6">{{block ("sltSetting")}}</div>
 <div class="c s6">{{block ("sltLevel")}}</div>
 <div class="c s6">{{block ("stSupporter")}}</div>
 <div class="c s6">{{block ("stMediasupporter")}}</div>
 <div class="c s12">{{block ("stReferee")}}</div>
</div>

<div class="f">
  <div class="c9 s12">
    {{block ("chart_primary")}}
  </div>
  <div class="c3 s12">


{{block ("stLogo")}}
  </div>
</div>



<div class="f">
 <div class="c3 s12">{{block ("stLInk")}}</div>
 <div class="c3 s12">{{block ("stStatus")}}</div>
 <div class="c3 s6">{{block ("stSetting")}}</div>
 <div class="c3 s12">{{block ("prDate")}}</div>
</div>

<div class="f">
 <div class="c6 s12">{{block ("stUser")}}</div>
 <div class="c6 s12">{{block ("stTransaction")}}</div>

</div>


{%endblock%}



{%block stUser%}
<a class="dcard" href='{{url.this}}/user?id={{requestGET.id}}'>
 <div class="statistic ">
  <div class="value"><i class="sf-users"></i></div>
  <div class="label">{%trans "Users"%}</div>
 </div>
</a>
{%endblock%}



{%block stTransaction%}
<a class="dcard" href='{{url.this}}/transaction?id={{requestGET.id}}'>
 <div class="statistic ">
  <div class="value"><i class="sf-card"></i></div>
  <div class="label">{%trans "Transactions"%}</div>
 </div>
</a>
{%endblock%}





{%block stReferee%}
<a class="dcard" href='{{url.this}}/referee?id={{requestGET.id}}'>
 <div class="statistic ">
  <div class="value"><i class="sf-user-md"></i></div>
  <div class="label">{%trans "Referee"%}</div>
 </div>
</a>
{%endblock%}


{%block stStatus%}
<a class="dcard" href='{{url.this}}/status?id={{requestGET.id}}'>
 <div class="statistic pink">
  <div class="value"><i class="sf-tachometer"></i></div>
  <div class="label">{%trans "Status"%}</div>
 </div>
</a>
{%endblock%}

{%block stLInk%}
<a class="dcard" data-direct target="_blank" href='{{url.site}}/festival/{{dataRow.slug}}'>
 <div class="statistic violet">
  <div class="value"><i class="sf-link"></i><span class="hide">{{dashboardDetail.poster_count |number_format |fitNumber}}</span></div>
  <div class="label">{%trans "Show festival"%}</div>
 </div>
</a>
{%endblock%}


{%block prDate%}
<div class="dcard">
 <div class="block">
  <div class="f">
  {%if lang.current == 'fa'%}
   <h5 class="c fc-mute">{{"now" | jdate('F')}}</h5>
   <h4 class="cauto fc-info fs30 txtra">{{"now" | jdate('d')}}</h4>
  {%else%}
    <h5 class="c fc-mute">{{"now" | date('F')}}</h5>
    <h4 class="cauto fc-info fs30 txtra">{{"now" | date('d')}}</h4>
  {%endif%}
  </div>
  <div class="f">
   <div class="progress" data-percent='{{dashboardDetail.month_detail.left}}'>
    <div class="bar"></div>
   </div>
  </div>
 </div>
</div>
{%endblock%}



{%block stMediasupporter%}
<a class="dcard" href='{{url.this}}/mediasupporter?id={{requestGET.id}}'>
 <div class="statistic orange">
  <div class="value"><i class="sf-bullhorn"></i><span class="hide">{{dashboardDetail.mediasupporter_count |number_format |fitNumber}}</span></div>
  <div class="label">{%trans "Media supporter"%}</div>
 </div>
</a>
{%endblock%}


{%block sltSetting%}
<a class="dcard" href='{{url.here}}/group/edit?id={{requestGET.gid}}&gid={{requestGET.gid}}'>
 <div class="statistic olive">
  <div class="value"><i class="sf-edit"></i></div>
  <div class="label">{%trans "Edit group"%}</div>
 </div>
</a>
{%endblock%}


{%block sltLevel%}
<a class="dcard" href='{{url.here}}/level?gid={{requestGET.gid}}'>
 <div class="statistic teal">
  <div class="value"><i class="sf-arrows-alt"></i></div>
  <div class="label">{%trans "Level"%}</div>
 </div>
</a>
{%endblock%}


{%block stSupporter%}
<a class="dcard" href='{{url.this}}/supporter?id={{requestGET.id}}'>
 <div class="statistic green">
  <div class="value"><i class="sf-crosshairs"></i><span class="hide fs08">{{dashboardDetail.supporter_count |number_format |fitNumber}}</span></div>
  <div class="label">{%trans "Sponsers"%}</div>
 </div>
</a>
{%endblock%}


{%block stSetting%}
<a class="dcard" href='{{url.this}}/general?id={{requestGET.id}}'>
 <div class="statistic blue">
  <div class="value"><i class="sf-cog"></i></div>
  <div class="label">{%trans "Setting"%}</div>
 </div>
</a>
{%endblock%}


{%block chart_primary%}
{%if chartData%}
<div class="dcard x3 pA0">
 <div class="chart" id="chartdiv" >
 </div>
</div>
{%else%}
<div class="dcard x3 pA0">
 <p class="fs18">{%trans "No user signuped to this festival yet!"%}</p>
</div>
{%endif%}
{%endblock%}



{%block stLogo%}
<a class="dcard x3" href='{{url.this}}/logo?id={{requestGET.id}}'>
 <div class="statistic gray">
  <div class="value">
    <img src="{{dataRow.logo}}">
  </div>
  <div class="label">{%trans "Logo"%}</div>
 </div>
</a>
{%endblock%}



{%block foot_js%}
<script type="text/javascript">
  {%include 'content_m/learn/chart.js'%}
</script>
{%endblock%}